<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/layout}">

<style>

    .weekly-view-one{
        width: 200px;
    }

</style>

</head>

<div layout:fragment="content">


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>축제 공연 행사</h2>
                        <div class="bt-option">
                            <a th:href="@{/index}">Home</a>
                            <span>축제공연행사</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- 검색창 옵션 선택 Begin -->
    <form accept-charset="/events" method="get" id="searchForm">
        <div class="col">
            <input th:type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-select" name="type" id="typeSelect">
                        <option value="">---</option>
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">시작날짜</option>
                        <option value="l" th:selected="${pageRequestDTO.type == 'l'}">지역</option>
                        <option value="k" th:selected="${pageRequestDTO.type == 'k'}">키워드</option>
                    </select>
                </div>
                <input type="text" class="form-control" name="keyword" id="keywordInput" th:value="${pageRequestDTO.keyword}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                    <button class="btn btn-outline-secondary clearBtn" type="button" onclick="clearSearch()">Clear</button>
                </div>
            </div>
        </div>
    </form>
    <!-- 검색창 옵션 선택 End -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <h4>이번주</h4>

        <div class="weekly-view" th:if="${festivalItemList != null}" th:each="festivalList : ${festivalItemList}">
            <div class="weekly-view-one">
                <div class="blog-item set-bg" data-setbg="img/blog/blog-1.jpg">
                    <div class="bi-tag bg-gradient">Foody</div>
                    <div class="bi-text">
                        <h5 th:text="${festivalList.getFstvlNm()}"><a th:href="@{blog-details}"></a></h5>
                        <span th:text="${festivalList.getFstvlStartDate()}"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="load-more blog-more">
            <a href="#" class="primary-btn">Load More</a>
        </div>
    </section>
    <!-- Blog Section End -->

<!--    <form>-->
<!--        <ul class="pagination" style="margin: 0 0 100px 740px">-->
<!--            <li class="page-item" th:if="${responseDTO.prev}">-->
<!--                <a class="page-link" th:data-num="${responseDTO.start-1}">Previous</a>-->
<!--            </li>-->

<!--            <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">-->
<!--                <li th:class="${responseDTO.page == i}?'page-item active' : 'page-item'">-->
<!--                    <a th:class="page-link" th:data-num="${i}">[[${i}]]</a>-->
<!--                </li>-->
<!--            </th:block>-->

<!--            <li class="page-item" th:if="${responseDTO.next}">-->
<!--                <a class="page-link" th:data-num="${responseDTO.end+1}">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </form>-->


</div>


</body>

<script layout:fragment="script" th:inline="javascript">
    function clearSearch() {
        // 키워드와 타입 입력 필드의 값을 초기화
        document.getElementById('keywordInput').value = '';
        document.getElementById('typeSelect').value = '';
        // 검색 폼을 제출하여 검색 결과를 초기화
        document.getElementById('searchForm').submit();
    }
</script>


</html>